<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <script type="module" src="./main.ts" async></script>
  </head>
  <body>
    <a href="../../" class="btn btn--back">← Accueil</a>
    <main class="text-white h-dvh p-5">
      <div class="grid grid-cols-3 grid-row-2 border border-white h-full p-5">
        <div>A</div>
        <div class="justify-self-end">B</div>
        <div class="justify-self-end">C</div>
        <div class="self-end col-span-2">D</div>
        <div class="self-end justify-self-end">E</div>
      </div>
    </main>
  </body>
</html>
